h1 {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 6;
    font-weight: 200; 
}
h4 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 100;
}

p {
    font-family: 'Libre Franklin', sans-serif;
}

body{
    background-image: url("../images/luca-zanon-26595.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Libre Franklin', sans-serif;
}

.prof-box{
    width: 400px;
    height: 475px;
    background: rgba(0,0,0,.4);
    padding: 40px;
    color: white;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 75px;
    text-align: center; 
}

.prof-pic{
    height: 200 px;
    width: 200px;
    margin: 0 auto;
} /* center img */

.social-icons{
    font-size: 40px;
}
.social-icons a{
    color: white;
}

.line-break{
    width: 330px;
    border-top:1px solid white;
    margin:0 auto; 
}
